<header>

    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Menu
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="">Tênis</li>
          <li><a class="dropdown-item" href="">Roupas</li>
          <li><a class="dropdown-item" href="">Skate</a></li>
        </ul>
      </div>


    <div class="menu-1">
        <ul>
            <li>
                <a href="">Tênis</a>
            </li>
            <li>
                <a href="">Roupas</a>
            </li>
            <li>
                <a href="">Skate</a>
            </li>
        </ul>  
    </div>
    
    
    <a href="">
        <img class="aviao-img menu-2" src="images/Jet skateshop 2.png" alt="imagem  aviao">
    </a>

    
    <div class="menu-3">

        <div class="pesquisar">
            <i class="fa-solid fa-magnifying-glass destaque"></i>
            <input class="input-pesquisar">
        </div>

        <a href="">
            <i class="fa-solid fa-cart-shopping destaque"></i>        
        </a>

        <a href="">

            <i class="fa-solid fa-user destaque"></i>

        </a>
        
        
        
    </div>


</header>
