<!DOCTYPE html>
<html lang="en">
    <%- include('includes/head', { linkCss: 'css/login.css' , title: 'Login' }) %>
<body>
   
<!-- A função include importa um trecho de código de outro arquivo
include(caminho do arquivo que eu quero importar o bloco de código)  -->
    <%- include('includes/header') %>
    <div class="conecte font-padrao">
        <h1 class="style">CONECTE-SE AQUI</h1>
    </div> 

    <div class="display-flex">

        <!-- Login -->
        <div class="width-30">
            <p class="login">Faça login</p>
    
            <div class="inputs">  
                 <label>E-mail</label>  
                 <input type="email" id="email">
                 <p class="mensagem" id="email-aviso">Campo e-mail obrigatório</p>   
             </div>
         
             <div class="inputs">  
                 <label>Senha</label>
                 <input type="password" id="senha" minlength="8" required>
                 <p class="mensagem" id="senha-aviso">Campo senha obrigatório</p>    
             </div>

             <div class="inputs">
                <button onclick="entrar()" class="buttom-black">Entrar</button>
                <a href="../recuperar-senha/recuperar-senha.html">Esqueceu sua senha?</a>
                <button class="buttom-facebook">
                    <img src="../publico/imagens/facebook.png" alt="" class="fb-image">
                    Entrar com Facebook
                </button>

             </div>
        </div>
       
        <!-- Criar conta -->
        <div class="width-30">
            <p class="login">Criar conta</p>
            <div class="input-line">
                <div class="inputs">
                    <label>Nome</label>
                    <input type="text" id="nome">
                    <p class="mensagem" id="nome-aviso">Campo nome obrigatório</p>
                </div>
        
                <div class="inputs">
                    <label>Sobrenome</label>
                    <input type="text" id="sobrenome">
                    <p class="mensagem" id="sobrenome-aviso">Campo sobrenome obrigatório</p>
                </div>

            </div>
            
    
            <div class="inputs">  
                <label>E-mail</label>  
                <input type="email" id="logar">
                <p class="mensagem" id="logar-aviso">Campo email obrigatório</p>
            </div>
    
            <div class="input-line">
                <div class="inputs">  
                    <label>Senha</label>
                    <input type="password" id="entrar" minlength="8" required> 
                    <p class="mensagem" id="entrar-aviso">Campo senha obrigatório</p>

                </div>
        
                <div class="inputs">  
                    <label>Confirmar senha</label>
                    <input type="password" id="confirma" minlength="8" required> 
                    <p class="mensagem" id="confirma-aviso">Campo confirmar senha obrigatório</p>   
                </div>

            </div>
            
            <button onclick="cadastrar()" class="buttom-black">Cadastrar</button>
            
        </div>
    </div>


    
    
    <%- include('includes/footer') %>
    <script type="text/javascript" src="./login.js"></script>
  
</body>
</html>