<!DOCTYPE html>
<html lang="pt-br">

<%- include('includes/head', { linkCss: 'css/home.css' , title: 'Home page' }) %>

<body>
    
    <%- include('includes/header') %>

    <main>                                    
        <img class="img-home" src="images/newCapaHome.jpg" alt="capahome">  
    </main>

    <h3>Login</h3>

    
   
       <%- include('includes/footer') %>

</body>
</html>